@font-face {
   font-family: 'Starborn';
   font-display: swap;
   src: url('file:///C:/Users/casse/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-11-15_192934/fonts/Starborn/font.ttf');
}
