@font-face {
   font-family: 'Starborn';
   font-display: swap;
   src: url('Starborn/font.ttf');
}
@font-face {
   font-family: 'CaviarDreams';
   font-display: swap;
   src: url('CaviarDreams/font.ttf');
}
@font-face {
   font-family: 'Vogue';
   font-display: swap;
   src: url('Vogue/font.ttf');
}
@font-face {
   font-family: 'BebasNeue-Regular';
   font-display: swap;
   src: url('BebasNeue-Regular/font.ttf');
}
